---
import { BackgroundRippleEffect } from "@/components/ui/background-ripple-effect";
import type { Language, Translations } from "@/i18n/utils";
import { cn } from "@/lib/utils";
import { ContactForm } from "./components/contact-form";
import ContactInfo from "./components/contact-info.astro";

interface Props {
	lang: Language;
	t: Translations;
}

const { lang, t } = Astro.props;
---

<section id="contact-us" class={cn(
    "py-24 relative w-full",
    )}>
    <div class="container mx-auto px-4 relative z-20">
        <div class="text-center max-w-3xl mx-auto mb-16">
            <div class="flex justify-center mb-6">
                <span class="bg-foreground text-background border border-border rounded-full px-3 py-2 text-xs font-medium flex items-center gap-2">
                    {t.contactUs.badge}
                </span>
            </div>
            <h2 class="text-4xl md:text-5xl font-bold mb-6 tracking-tight text-foreground">
                {t.contactUs.title}
            </h2>
            <p class="text-xl text-muted-foreground">
                {t.contactUs.description}
            </p>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 border rounded-3xl p-8 lg:p-12 bg-card/50 backdrop-blur-sm shadow-sm">
            <div class="lg:col-span-5 h-full">
                <ContactInfo t={t} />
            </div>
            <div class="lg:col-span-7">
                <ContactForm t={t} client:visible />
            </div>
        </div>
    </div>
</section>
