---
import type { Language, Translations } from "@/i18n/utils";
import { LanguageSwitcher } from "@/widgets/language-switcher/widget";
import LoginWidget from "@/widgets/login/widget.astro";
import AppLogo from "@/widgets/logo/widget.astro";
import SignupWidget from "@/widgets/signup/widget.astro";
import { ThemeSwitcher } from "@/widgets/theme-switcher/widget";
import { MobileNavbar } from "./mobile-widget";

interface Props {
	lang: Language;
	t: Translations;
}

const { lang, t } = Astro.props;

const navigationItems = [
	{
		title: t.nav.features,
		href: `/${lang}/#features`,
	},
	{
		title: t.nav.compare,
		href: `/${lang}/#comparison`,
	},
	{
		title: t.nav.aboutUs,
		href: `/${lang}/#about-us`,
	},
	{
		title: t.nav.contactUs,
		href: `/${lang}/#contact-us`,
	},
];
---

<header class="bg-background/60 backdrop-blur sticky top-0 z-50 w-full">
			<div class="mx-auto flex max-w-7xl items-center justify-between gap-2 md:gap-8 px-4 py-3 sm:px-6">
				<AppLogo />
				<div class="text-muted-foreground flex flex-1 items-center gap-8 font-medium md:justify-center lg:gap-16">
					{navigationItems.map((item) => (
						<a href={item.href} class="hover:text-primary max-md:hidden">
							{item.title}
						</a>
					))}
				</div>
				<div class="flex gap-2 items-center">
					<LanguageSwitcher currentLang={lang} client:load />
					<LoginWidget className="md:block hidden" />
					<SignupWidget variant="outline" className="md:block hidden" />
					<ThemeSwitcher client:load />
				</div>
                <MobileNavbar client:media="(max-width: 768px)" />
			</div>
		</header>